<div class="brand-area bg-lightPrimary">
	<div class="container">
		<div class="title-area">
		    <h2 class="title title-bar"><%= @specialist.name %></h2>
		</div>
		<div class="row">
			<div class="specialist">
<div class="row col-xs-offset-4">
		<%= image_tag("specialists/" + @specialist.photo, class: "img-responsive", style: "border-radius: 10px") %>
</div>
<div class="row">
		<h4><%= @specialist.position %></h4>
</div>
<div class="row" style="text-align: left">
		<%== @specialist.description %>
</div>
			</div>
		</div>
	</div>
</div>