<div class="brand-area bg-lightPrimary">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 price-table-box1">
				<div class="price-table-box-inner">
					<h4>Адрес</h4>
					<div class="price-table-inner-top">
					г. Москва, Маросейка ул., 10/1, стр.2
					</div>
				</div>
			</div>
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 price-table-box1">
			<div class="price-table-box-inner">
			<h4>8 (800) 333-20-25</h4>
				<div class="price-table-inner-top">
				многоканальный с 10-00 до 20-00<br/>
				Для записи на прием, консультацию
				</div>
			</div>
		</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 price-table-box1">
				<div class="price-table-box-inner">
				<h4>График работы</h4>
					<div class="price-table-inner-top">
					ежедневно: с 10:00 до 20:00
					</div>
				</div>
			</div>
		</div>
			<div class="price-table-box1">
			<h3>Как добраться</h3>
				<div class="price-table-box-inner">
			<h4><strong>Пешком от станции метро «Китай-город» (7мин)</strong></h4>
			<div style="text-align: justify;">
				Выход в город на улицу Маросейка. По улице Маросейка следуйте по ходу движения транспорта до Петроверигского переулка (второй переулок направо). Сверните направо на Петроверигский переулок, следуйте прямо и слева, после магазина Перекресток будет арка во двор. Пройдите через арку, и во дворе будет 5–ти этажное здание «Центр Эстетической медицины».
			</div>
			</div>
		</div>
	</div>
</div>