<div class="brand-area bg-lightPrimary">
	<div class="container">
		<div class="title-area">
		    <h2 class="title title-bar">Лицензии</h2>
		</div>
		<div class="row">
			<%= image_tag "licences/изображение 2.jpg", class: "img-responsive" %>
			<%= image_tag "licences/изображение 1.jpg", class: "img-responsive" %>
			<%= image_tag "licences/изображение 3.jpg", class: "img-responsive" %>
		</div>
	</div>
</div>