<div class="brand-area bg-lightPrimary">
	<div class="container">
		<div class="title-area">
		    <h2 class="title title-bar">Росздравнадзор</h2>
		</div>
		<div class="row">
		<h4>
Территориальный орган Росздравнадзора по г. Москве и Московской области
<br/>
Телефон: (495) 611-55-77
<br/>
E-mail: office@reg77.roszdravnadzor.ru
<br/>
адрес: 127206, Россия , г. Москва, ул. Вучетича, д. 12 А
		</h4>
		</div>
	</div>
</div>